# Ignore all CSV files in the CSV/ directory
data/*

# Ignore all files in the DISTRIBUTION-TABLE/ directory
distribution-table/*

# Ignore all files in the tools/outputs directory
tools/outputs*

# Ignore the .vscode/ directory and its files
.vscode/

# Ignore the results directory and its files
results/

# Ignore all the folders that contain the word "results"
*results*/

# Ignore jira_dataset folder
jira_dataset/

# Ignore any folder that starts with __pycache__
__pycache__/

# Ignore the venv/ directory and its files
venv/

# Ignore the logs/ directory and its files
logs/

# Ignore eventual checkpoints
checkpoints/
