# Ignore all CSV files in the CSV/ directory
CSV/*

# Ignore all files in the DISTRIBUTION-TABLE/ directory
DISTRIBUTION-TABLE/*

# Ignore all files in the TOOLS/OUTPUTS/ directory
TOOLS/OUTPUTS/*

# Ignore the .vscode/ directory and its files
.vscode/

# Ignore the results of the analysis
*/RESULTS/*

# Ignore jira_dataset folder
jira_dataset/

# Ignore any folder that starts with __pycache__
__pycache__/